.login
	padding-top 0
	.panel
		border 0px
		.panel-heading
			background none
			border 0px
			border-radius 0px
			img
				position: absolute;
				top: -1em;
				left: 3em;
			.panel-title
				margin-left: 8em;	
				h2
					color $green-text
					font-size: 1.5em;
					margin: 0;
				p
					color #79a287
					font-size 1em
		.panel-body,
		.panel-footer
			background $green
			border 0px
			border-radius 0px
			overflow: hidden;
			a
				color white
				font-size: .8em;
		.panel-body		
			padding: 2em 4em 2em;
			.input-group-addon	
				top: 0;
				background: #49cb7c;
				border: 0px;
				border-radius: 0px;
				color: white;
		.btn-success
			background: #49cb7c;
			font-size: 1em;