.index-toolbar
	.toolbar-btn
		.select2-selection--single
			border: 1px solid #ccc;
			height: 2.4em;
			margin-bottom: .1em;
			border-radius: 4px 0 0 4px;
			margin-right: -.25em;
		.input-search
			border-left: 0px;
			border-radius: 0px;