@font-face
  font-family 'jsl'
  src url($font'jsl.eot?iqejx8')
  src url($font'jsl.eot?#iefixiqejx8') format('embedded-opentype'),
 url($font'jsl.woff?iqejx8') format('woff'),
    url($font'jsl.ttf?iqejx8') format('truetype'),
    url($font'jsl.svg?iqejx8#jsl') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'jsl'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-avatar
  &:before
    content "\e60e"

.icon-clock
  &:before
    content "\e60f"

.icon-configuration
  &:before
    content "\e610"

.icon-email
  &:before
    content "\e611"

.icon-heart
  &:before
    content "\e612"

.icon-menu
  &:before
    content "\e613"

.icon-paper
  &:before
    content "\e614"

.icon-plus
  &:before
    content "\e615"

.icon-lock
  &:before
    content "\e60d"

.icon-chronometer
  &:before
    content "\e600"

.icon-facebook
  &:before
    content "\e601"

.icon-github
  &:before
    content "\e602"

.icon-google
  &:before
    content "\e603"

.icon-instagram
  &:before
    content "\e604"

.icon-linkedin
  &:before
    content "\e605"

.icon-mailbox
  &:before
    content "\e606"

.icon-pinterest
  &:before
    content "\e607"

.icon-placeholders
  &:before
    content "\e608"

.icon-shopping
  &:before
    content "\e609"

.icon-truck
  &:before
    content "\e60a"

.icon-twitter
  &:before
    content "\e60b"

.icon-user
  &:before
    content "\e60c"

