footer
	.works
		img
			margin-bottom: 1em;
	.subscribe
		.input-group
			width 100%
		.btn
			color white
			text-shadow 0 0 0	
	padding-top: 1em
	.sitemap
		margin-bottom: 2em;
		a
			margin-bottom: .5em;
			display: block;
	color #bbbbbb
	background #333333
	border-top .4em solid $green
	a
		color: #8ddc76;
	.posts
		span
			font-style: italic;
		.media
			margin-top: 0px;
			margin-bottom: 15px;
	.rights
		padding 1em
		border-top 1px solid #444444
		margin-top: 2em;		
			