header
	.logo
		background white
		border 1em solid #851618
	.menu
		background-color #851618
		opacity .7
		padding 1em
		margin-bottom 1.4em
	a
		color white
		font-size 1.2em
	a:hover
		color white		
		
@media (max-width $screen-xs-max)
	header
		img
			zoom .6