.header
	.toolbar-social
		height: 10.5em;
		background black
	.navbar-green
		border-top .5em solid $yellow
	.navbar-brand
		background: url("../img/logo.png");
		height: 13em;
		width: 15.4em;
		position: absolute;
		z-index 1
	.navbar-collapse
		margin-left 20em
	.toolbar-social	
		.form-inline
			margin-top 3em	
			.input-group	
				width: 100%;
			.input-group-addon
				background: #525252;
				color: white;
				border: 0px;
				border-radius: 0;
				top: 0;
			.form-control
				border-radius: 0;	
		.social
			margin-top .8em
			li 
				border 1px solid #5c5c5c
				font-size: 1.3em;
				padding: .4em;
				margin-right: .2em;
			.icon-facebook
				color white
				background #0173b2
			.icon-twitter
				color white
				background #00acee
			.icon-google
				color white
				background #ff0000
			.icon-instagram
				color white
				background #c0b2a9				
			.icon-pinterest
				color white
				background #cb2229	
			.icon-linkedin
				color white
				background #0274b3
			.icon-github
				color white
				background #000000
					
@media (min-width $screen-sm-min) and (max-width $screen-sm-max)		
	.header
		.navbar-brand
			background: url("../img/logo-tablet.png");
			height: 10em;
			width: 12.4em;	
		.navbar-collapse
			margin-left 10em

@media (max-width $screen-xs-max)
	.header
		.navbar-green
			.container
				padding 0
		.navbar-brand
			background: url("../img/logo-tablet.png");
			height: 10.5em;
			width: 12.4em;	
		.navbar-collapse
			margin-left 0em
			margin-left: 0;
			padding: 0;
		.navbar-right
			float none !important
		.navbar-toggle	
			background: #ddd;
		.form-inline,	
		.social
			display none	