.balance
	.title
		h2
			span
				color #9D8C50
		.nav-pills
			li
				position: relative;
				display: block;
				padding: 10px 15px;
				color: #138040;
			span
				font-size 2em
				font-weight: 100;
				
	.tabletas
		clear: both			