.botones-home
	h2
		font-weight normal
		font-size 2em
		color: #4288ca !important;
	span
		font-size 12em
		&.medium
			font-size 7em
			color: #4288ca !important;

@media (max-width $screen-xs-max)
	.botones-home
		span
			font-size 8em