@font-face
  font-family 'victoria'
  src url($font'victoria.eot?oz5fo8')
  src url($font'victoria.eot?#iefixoz5fo8') format('embedded-opentype'),
 url($font'victoria.woff?oz5fo8') format('woff'),
		url($font'victoria.ttf?oz5fo8') format('truetype'),
		url($font'victoria.svg?oz5fo8#victoria') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'victoria'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-regalos
  &:before
    content "\e604"

.icon-administrador
  &:before
    content "\e601"

.icon-leyenda
  &:before
    content "\e602"

.icon-meme
  &:before
    content "\e603"

.icon-feria
  &:before
    content "\e600"

.icon-proyectos
  &:before
    content "\e61d"

