.avatar
    background-color: white;
    font-size: 3em;
    padding: .2em;

.app-title
	font-weight bold
	font-size 2em !important
.title
	color black !important
	// color: #4288ca !important;

a
	&:hover
		text-decoration none

.fondo-mobile
	background-color $background

.text-azul
	color #4288ca !important

.text-rojo
	color #FF321E !important

.text-naranja
	color #f16d2c !important


@media (max-width $screen-xs-max)
	.main-titulo-eventos
		background-color white
		text-align center
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;

.white
	background-color white

.bottom
	position absolute
	bottom 0
	width 100%

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.margin-top-xs
	margin-top .2em

.color-orange
	color $orange


@media (min-width $screen-lg-min)
	.no-margin-lg
		padding 0
	.vertical-align {
	    display: flex;
	    align-items: center;
	}

@media (min-width $screen-lg-min)
	.margin-left-xs 
		margin-left ceil($line-height-computed / 4)  
	.margin-left-sm 
		margin-left ceil($line-height-computed / 2)
	.margin-left-md 
		margin-left $line-height-computed
	.margin-left-lg 
		margin-left ceil($line-height-computed * 2) 
		
@media (min-width $screen-lg-min)
	.margin-right-xs 
		margin-right ceil($line-height-computed / 4)  
	.margin-right-sm 
		margin-right ceil($line-height-computed / 2)
	.margin-right-md 
		margin-right $line-height-computed
	.margin-right-lg 
		margin-right ceil($line-height-computed * 2) 


//PADDING

@media (max-width $screen-xs-max)
	.no-margin-xs
		margin 0 !important
	.no-padding-xs
		padding 0 !important
	.no-text-align
		text-align inherit !important	

.padding-xs 
	padding ceil($line-height-computed / 4)  
.padding-sm 
	padding ceil($line-height-computed / 2)
.padding-md 
	padding $line-height-computed
.padding-lg 
	padding ceil($line-height-computed * 2) 


.padding-top-xs 
	padding-top ceil($line-height-computed / 4)  
.padding-top-sm 
	padding-top ceil($line-height-computed / 2)
.padding-top-md 
	padding-top $line-height-computed
.padding-top-lg 
	padding-top ceil($line-height-computed * 2) 



.padding-bottom-xs 
	padding-bottom ceil($line-height-computed / 4)  
.padding-bottom-sm 
	padding-bottom ceil($line-height-computed / 2)
.padding-bottom-md 
	padding-bottom $line-height-computed
.padding-bottom-lg 
	padding-bottom ceil($line-height-computed * 2)



.padding-left-xs 
	padding-bottom ceil($line-height-computed / 4)  
.padding-left-sm 
	padding-left ceil($line-height-computed / 2)
.padding-left-md 
	padding-left $line-height-computed
.padding-left-lg 
	padding-left ceil($line-height-computed * 2)


.padding-right-xs 
	padding-right ceil($line-height-computed / 4)  
.padding-right-sm 
	padding-right ceil($line-height-computed / 2)
.padding-right-md 
	padding-right $line-height-computed
.padding-right-lg 
	padding-right ceil($line-height-computed * 2)



// MARGING

.margin-top-xs 
	margin-top ceil($line-height-computed / 4)  
.margin-top-sm 
	margin-top ceil($line-height-computed / 2)
.margin-top-md 
	margin-top $line-height-computed
.margin-top-lg 
	margin-top ceil($line-height-computed * 2) 



.margin-bottom-xs 
	margin-bottom ceil($line-height-computed / 4)  
.margin-bottom-sm 
	margin-bottom ceil($line-height-computed / 2)
.margin-bottom-md 
	margin-bottom $line-height-computed
.margin-bottom-lg 
	margin-bottom ceil($line-height-computed * 2) 


.text-line
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;


.no-margin
	margin 0 !important

.no-padding
	padding 0 !important	 

.no-bold
	font-weight normal	

.inline-block
	display inline-block

