.navbar-inverse
	.pull-left
		float left !important
	.navbar-right
		float right !important
	li
		a
			font-size: 1.2em;
			float: left;
			padding: 15px 15px;
	.dropdown-menu
		li
			a
				float none
				padding 3px 20px
	.icon-antena
		color #666
		font-size 2em
		vertical-align: middle;
		padding: .4em 0em;
		float: left;
	.antenas
		.desconectado
			color #666
		li
			color #666
		.active
			color yellow	

.header
	// background #F16D2C
	background black	
	color white			

.navbar-nav
	float left
	margin 0