// paths
$img 				?= "../img/"
$font 				?= "../fonts/"

/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

//$background 		?= #eceff4
$background 		?= #fbed09


$orange 			?= #f16d2c
$orange-light 		?= #fde1d5

$fondo-naranja      ?= #F9B616

$blue 				?= #2f538f

$gray 				?= #838383

$gray_events 		?= #dadfe3

$verde   			?= #97ca33
$azul 				?= #4288ca
$rojo 				?= #ca2959

$verde-agua 		?= #4abdb3
$rojo 				?= #ca2959