.home
	.botones
		background #939598
	.quienes-somos
		background #851618
		color white
		opacity .7
	.mapa
		background #949494		
	.inmuebles
		h2
			color #851618
		span
			background #851618
			display block
			color white
			padding .5em
			text-align center
				