.home
	.about-us
		blockquote
			background: #ddf2dc;
			border: 1px solid #009241;
			border-right: 4px solid #009241;
			border-left: 4px solid #009241;
			p
				color: #009241;
				font-size: .8em;
				strong
					font-weight bold
		h2
			color $green-text
		.box
			border-top 1px solid $gray-line-top 
			padding-top: 1.5em;	
			.panel-group
				.panel
					border-radius: 0px;
					border: 1px solid #009241;
				.panel-heading
					background $green
					color white
					border-radius: 0;
				.panel-body
					background #f7f7f7	
				.panel-title
					a	
						font-weight: normal;
	.jumbotron
		padding 0
		margin-top: -1.4em;
	.carousel	
		.carousel-caption
			left: 8%;
			top: 0;
			width: 50%;
			text-align: left;
		.img-responsive
			width 100% !important	
		h2
			text-transform: uppercase;	
		strong
			font-weight bold	
	.home-panels
		margin-bottom 1em
		.panel-body
			text-align center
			background #eeeeee
			height: 12em;
		.panel-footer
			background black
			color white
			padding 1.2em
			text-align center	
			border-radius: 0;