.dashboard
	.nav-tabs
		.manager,
		.title
			color $green-text-dashboard
		.manager
			font-size .8em		
		.black
			color black
		li
			a
				padding 2em
				height 6em !important;
	.tab-content	
		.task
			li
				padding: 1em;
				border-bottom: 1px solid $gray-line-top;
		.messages
			li
				span
					font-size: 1.5em;
					margin-right: .5em;		
		.green
			color $green-text-dashboard
		h3
			font-weight: normal;
			font-size: 2em;
		p
			color #9ba19f
		h4
			border-bottom: 1px solid $gray-line-top;
			padding: 1em 0em;
			span
				font-size: 1.4em;
				margin-right: .3em;	
				